// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;
$color_black_alternative: #18121E;

$color_secnion_bg: #F3F5F4;
$color_bace_text: #18121E;
$color_subtitle:#F2BE22;
$color_ligh_grey: #FDFDFD;
$color_hero_form:#FFFFFF33;
$colr_form_border: #E1E3E4;
$color_grey: #E5EEEB;
$color_blue: #E3E6EE;
$color_ligh_yellow: #F3F1E1;

$color_accent: #1A3E3E;


$font_1: "Nunito Sans", sans-serif;
$transition_dur: 0.3s;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
