@use './helpers/abstracts' as *;
.hero__in {
	
	display: flex;
	flex-direction: column;
	justify-content: end;
	@include bp($point_2, min){
	height: 82.1rem;	
	}
	@include bp_min-max(768px, 1023px){
		height: 79rem;
	}
	@include bp($point_5){
		height: 60rem;
	}
}
.hero__title {
	
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 4.1rem;
	color: $color_ligh_grey;
	@include bp($point_2, min){
		font-size: 5rem;
	}
	@include bp_min-max ($point_4, $point_3){
		@include adapt_font(44, 50, 768, 1023);
	}
	@include bp_min-max ($point_6, $point_5){
		@include adapt_font(26, 44, 480, 767);
	}
	@include bp ($point_7){
		@include adapt_font(32, 40, 375, 479);
	}
	
	
}
.hero__form {
	display: flex;
	align-items: start;
	justify-content: space-between;
	border-radius: 1rem;
	@include bp($point_2, min){
padding-top: 4rem;
	padding-inline: 4.3rem;
	height: 16.1rem;
	background: $color_hero_form;
	backdrop-filter: blur(6px);	
	}
}
.form__input {
	width: 27rem;
	height: 5.2rem;
	padding: 1.6rem 1.4rem;
	border-radius: 0.8rem;
	border: 1px solid $colr_form_border;
	margin-bottom: 0.8rem;
	background: transparent;
}
.form__input_deskr {
	display: block;
	font-size: 1.4rem;
	line-height: 1.5;
	color: $color_ligh_grey;
}

.form__item {
	position: relative;
	@include bp($point_3){
		display: none;
	}	
}

.dropdawn_date__box_hiden,
.dropdown__input_hidden {
	display: none;
}
.dropdown_date__button,
.dropdown__button {
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 27rem;
	height: 5.2rem;
	padding: 1.4rem 3.6rem 1.4rem 1.6rem;
	border-radius: 0.8rem;
	border: 1px solid $colr_form_border;
	margin-bottom: 0.8rem;
	cursor: pointer;
	background: transparent;
}
.dropdown_date__button::after{
	content: '';
	position: absolute;
	top: 1.6rem;
	right:1.6rem;
	width: 1.8rem;
	height: 1.8rem;
	pointer-events: none;
	background: center / contain no-repeat url(../imgs/hero/formkit_date.svg);
}
.dropdown__button::after {
	content: '';
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 2rem;
	height: 2rem;
	pointer-events: none;
	background: center / contain no-repeat url(../imgs/hero/down_arrow.svg);
}

.dropdown__list {
	display: none;
	position: absolute;
	width: 27rem;
	height: 12rem;
	overflow-y: auto;
	border-radius: 0.8rem;
	padding-inline: 1.4rem;
	cursor: pointer;
	background-color: rgba($color_accent, 0.75);
	&.dropdown__list--visible {
		display: block;
	}
}
.dropdown__item:hover {
	background-color: $color_accent;
}
